
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2><%= t('sign_in_mail.title', user_name: @user_name) %></h2>

    <p>
      <%= t('sign_in_mail.body_1') %><br>
    </p>

    <p>
      <%= t('sign_in_mail.body_2_html', sign_in_url: @sign_in_url) %>
    </p>

    <p><%= t('sign_in_mail.body_3') %></p>
  </body>
</html>