---
http_interactions:
- request:
    method: get
    uri: https://www.omdbapi.com/?apikey=8b35d09b&i=ttdontexist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Tue, 04 Jun 2019 20:26:35 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Response":"False","Error":"Incorrect IMDb ID."}'
  recorded_at: Wed, 05 Jun 2019 23:31:03 GMT
- request:
    method: get
    uri: https://www.omdbapi.com/?apikey=8b35d09b&i=tt0103064
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 10 Jun 2019 15:54:27 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Title":"Terminator 2: Judgment Day","Year":"1991","Rated":"R","Released":"03
        Jul 1991","Runtime":"137 min","Genre":"Action, Sci-Fi","Director":"James Cameron","Writer":"James
        Cameron, William Wisher","Actors":"Arnold Schwarzenegger, Linda Hamilton,
        Edward Furlong, Robert Patrick","Plot":"A cyborg, identical to the one who
        failed to kill Sarah Connor, must now protect her teenage son, John Connor,
        from a more advanced and powerful cyborg.","Language":"English, Spanish","Country":"USA,
        France","Awards":"Won 4 Oscars. Another 27 wins & 27 nominations.","Poster":"https://m.media-amazon.com/images/M/MV5BMGU2NzRmZjUtOGUxYS00ZjdjLWEwZWItY2NlM2JhNjkxNTFmXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SX300.jpg","Ratings":[{"Source":"Internet
        Movie Database","Value":"8.5/10"},{"Source":"Rotten Tomatoes","Value":"93%"},{"Source":"Metacritic","Value":"75/100"}],"Metascore":"75","imdbRating":"8.5","imdbVotes":"908,655","imdbID":"tt0103064","Type":"movie","DVD":"31
        Mar 1998","BoxOffice":"$198,116,802","Production":"TriStar Pictures","Website":"N/A","Response":"True"}'
  recorded_at: Mon, 10 Jun 2019 15:54:28 GMT
recorded_with: VCR 5.0.0
